@model QuanLyPhongKham.Models.HoSoKham

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm hồ sơ khám bệnh</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHSK" class="control-label"></label>
                <input asp-for="MaHSK" class="form-control" />
                <span asp-validation-for="MaHSK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenhNhanId" class="control-label"></label>
                <select asp-for="BenhNhanId" class ="form-control" asp-items="ViewBag.BenhNhanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrieuChung" class="control-label"></label>
                <input asp-for="TrieuChung" class="form-control" />
                <span asp-validation-for="TrieuChung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChanDoan" class="control-label"></label>
                <input asp-for="ChanDoan" class="form-control" />
                <span asp-validation-for="ChanDoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KetLuan" class="control-label"></label>
                <input asp-for="KetLuan" class="form-control" />
                <span asp-validation-for="KetLuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKham" class="control-label"></label>
                <input asp-for="NgayKham" class="form-control" />
                <span asp-validation-for="NgayKham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BacSiId" class="control-label"></label>
                <select asp-for="BacSiId" class ="form-control" asp-items="ViewBag.BacSiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
