@model QuanLyPhongKham.Models.LichHen
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Đặt lịch hẹn</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BenhNhanId" class="control-label"></label>
                <select asp-for="BenhNhanId" class ="form-control" asp-items="ViewBag.BenhNhanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BacSiId" class="control-label"></label>
                <select asp-for="BacSiId" class="form-control" asp-items="ViewBag.BacSiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LeTanId" class="control-label"></label>
                <select asp-for="LeTanId" class ="form-control" asp-items="ViewBag.LeTanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayGio" class="control-label"></label>
                <input asp-for="NgayGio" class="form-control" />
                <span asp-validation-for="NgayGio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TrangThai" class="control-label"></label>
                <!--
                @@if(User.IsInRole("Patient"))
                {
                    <select asp-for="TrangThai" class="form-control" asp-items="Html.GetEnumSelectList<TrangThaiLichHen>()">
                        <option value="ChoXacNhan" selected></option>
                    </select>
                }
                else
                {
                    
                }-->
                <select asp-for="TrangThai" class="form-control" asp-items="Html.GetEnumSelectList<TrangThaiLichHen>()"></select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Đặt lịch" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if(User.IsInRole("Receptionist"))
{
    <div>
        <a class="nav-link text-white back-list" asp-action="Index">Quay lại danh sách</a>
    </div>
}
else
{
    <div>
        <a class="nav-link text-white back-list" asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
