@model QuanLyPhongKham.Models.LichHen

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa lịch hẹn</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BenhNhanId" class="control-label"></label>
                <select asp-for="BenhNhanId" class="form-control" asp-items="ViewBag.BenhNhanId"></select>
                <span asp-validation-for="BenhNhanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BacSiId" class="control-label"></label>
                <select asp-for="BacSiId" class="form-control" asp-items="ViewBag.BacSiId"></select>
                <span asp-validation-for="BacSiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeTanId" class="control-label"></label>
                <select asp-for="LeTanId" class="form-control" asp-items="ViewBag.LeTanId"></select>
                <span asp-validation-for="LeTanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGio" class="control-label"></label>
                <input asp-for="NgayGio" class="form-control" />
                <span asp-validation-for="NgayGio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TrangThai" class="control-label"></label>
                <select asp-for="TrangThai" class="form-control" asp-items="@Html.GetEnumSelectList<TrangThaiLichHen>()"></select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-link text-white back-list" asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
